* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
}

main {
    display: flex;
    background: #00a8ff;
    height: 100vh;
    width: 100vw;
}

#packs {
    display: flex;
    flex-direction: column;
    background: #0097e6;
    height: 100vh;
    width: 4em;
    border-radius: 5px;

    overflow-y: scroll;
}

#packs::-webkit-scrollbar {
    display: none;
}

#packs > * {
    margin: 0.5em auto;
    background: #f5f6fa;
    min-width: 3em;
    min-height: 3em;
    max-width: 3em;
    max-height: 3em;
    border-radius: 5px;
}

#packs > *:hover {
    transform: scale(1.05);
}

#right-side {
    width: calc(100vw - 4em);
}

#pack-info {
    height: calc(100% - 6.1em);
    padding: 1em;
    border-bottom: 0.1em solid #0097e6;
}

#launch-bar {
    height: 3em;
    padding: 0.5em;
}

#pack-info h2, h3, h4, h5, h6 {
    color: white;
}

#info > .flex-row > * {
    padding-right: 1em;
}

#desc {
    height: 75%;
    overflow-y: auto;
}

.flex-row {
    display: flex;
    flex-direction: row;
}