* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@keyframes toSquare {
    from {
        border-radius: 4em;
    }
    to {
        border-radius: 5px;
    }
}

@keyframes fadeIn {
    from {
        transform: scale(1.5);
        overflow: hidden;
    }
    to {
        transform: none;
        overflow: hidden;
    }
}

@keyframes glow {
    from {}
    to {border-color: white;}
}

body {
    display: flex;
    animation: fadeIn forwards 0.75s;
    background: #222;
    overflow: auto;
}

main {
    display: flex;
    background: #00a8ff;
    height: 100vh;
    width: 100vw;
}

a {
    text-decoration: none;
    color: black;
}

#packs {
    display: flex;
    flex-direction: column;
    background: #0097e6;
    height: 100vh;
    width: 4em;
    border-radius: 5px;
    user-select: none;

    overflow-y: scroll;
}

#packs::-webkit-scrollbar {
    display: none;
}

#packs > * {
    margin: 0.5em auto;
    background: #f5f6fa;
    min-width: 3em;
    min-height: 3em;
    max-width: 3em;
    max-height: 3em;
    border-radius: 4em;
    box-shadow: rgba(0,0,0,.2) 2px 2px 2px;
}

#packs > :not(#add-pack):not(.selected):hover {
    animation: toSquare forwards 0.1s;
}

#packs > *:hover {
    cursor: pointer;
}

#packs > *.selected {
    border-radius: 5px;
    box-shadow: -2.6em 0 0 -10px white, rgba(0,0,0,.2) 2px 2px 2px;
}

#right-side {
    width: calc(100vw - 4em);
}

#pack-info {
    height: calc(100% - 6.1em);
    padding: 1em;
    border-bottom: 0.1em solid #0097e6;
}

#launch-bar {
    display: flex;
    height: 3em;
    padding: 0.5em;
}

#launch-bar button {
    margin: auto;
    height: 100%;
    width: 25%;
    border: 0.2em solid rgba(0,0,0,.2);
    background: forestgreen;
    color: white;
    font-size: 120%;
    font-weight: bold;
}

#pack-info h2, h3, h4, h5, h6 {
    color: white;
}

#info > .flex-row > * {
    padding-right: 1em;
}

#desc {
    height: 75%;
    overflow-y: auto;
}

#add-pack {
    display: flex;
    background: rgba(0,0,0,.2);
    border: 0.1em dashed black;
    color: white;
}

#add-pack:hover {
    animation: glow forwards 0.5s;
}

#add-pack > * {
    margin: auto;
    font-size: 3em;
    line-height: 0;
}

#prompt {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: rgba(0,0,0,.2);
    max-width: 70vw;
    max-height: 55vh;
    border-radius: 5px;
    padding: 5vh 5vw;
    color: white;
}

#prompt > * {
    margin: auto;
}

#upload {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 1em;
}

#prompt button {
    padding: 0.5em;
    font-size: 100%;
    min-width: 10vw;

    background: rgba(0,0,0,.2);
    border: 0.1em dashed black;
    color: white;
    cursor: pointer;
}

#prompt button:hover {
    animation: glow forwards 0.5s;
}

#upload {
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    background: rgba(0,0,0,.2);
}

#valid-icon {
    font-weight: bolder;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

.pack-file-submit:disabled {
    display: none;
}